.ipt{
    border: 3px solid #ae7000;
}
.show{
    animation: showItem 2s ease-in forwards;
}
.hide{
    animation: hideItem 2s ease-in forwards;
}
@keyframes hideItem {
    0%{
        opacity: 1;
        color: yellow;
    }
    50%{
        opacity: 0.5;
        color: red;
    }
    100%{
        opacity: 0;
        color: gray;
    }
}

@keyframes showItem {
    0%{
        opacity: 0;
        color: yellow;
    }
    50%{
        opacity: 0.5;
        color: red;
    }
    100%{
        opacity: 1;
        color: gray;
    }
}

.bossText-enter{
    opacity: 0;
}
.bossText-enter-active{
    opacity: 1;
    transition: opacity 2000ms;
}
.bossText-enter-done{
    opacity: 1;
}
.bossText-exit{
    opacity: 1;
}
.bossText-exit-active{
    opacity: 0;
    transition: opacity 2000ms;
}
.bossText-exit-done{
    opacity: 0;
}
